.wwd-style {
    background-color: var(--white);
    height: 800px;
    justify-content: center;
    flex: 2 1 auto;
    box-sizing: border-box;
    max-width: 1450px;
    margin-inline: auto;
    width: 100%;
    z-index: -1;

    &_content {
        margin-inline: 1rem;
    }

    &_info {
        @include center;
        align-self: flex-end;
        padding: 4rem 2rem 2rem 2rem;
    }

    &_steps {
        width: 60%;
    }
}