.herostyle {
  background-color: var(--black);
  height: 750px;
  &_content {
    max-width: 50rem;
    @include center;
  }
  &_text {
    color: var(--white);
    font-weight: bold;
    font-size: 60px;
    text-align: center;
  }
  &_btn {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    width: 250px;
    text-align: center;
    color: var(--white);
    border-bottom: 1px solid var(--primary);
  }
}
