.slides {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  place-items: center;
}

.slide {
  width: 100%;
  height: 104%;
  grid-area: 1 / 1 / -1 / -1;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  position: relative;
  will-change: transform;
  &--current {
    pointer-events: auto;
    opacity: 1;
  }
  &__inner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    position: relative;
    overflow: hidden;
    will-change: transform;
  }
  &__content {
    grid-area: 1 / 1 / -1 / -1;
    background: var(--color-bg-slide);
    display: grid;
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto auto;
    &--dark {
      background: var(--color-bg-slide);
      transition: background-color 0.8s;
    }
    &--white {
      background: var(--color-white);
      transition: background-color 0.8s;
    }
    h2 {
      grid-area: title;
      font-weight: 200;
      font-size: clamp(3rem, 2vw, 3rem);
      text-transform: none;
      margin: 0 0 3rem 0;
      line-height: 1;
    }
    p {
      grid-area: text;
      max-width: 260px;
      line-height: 1.5;
      margin: 0;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
