.we-done-style {
  @include center;
  h3 {
    width: 70%;
  }
}

.portfolio-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;

  margin-top: 5rem;
}

.project-style {
  border-radius: initial;
  background-color: #191920;
  h2 {
    font-size: 28px;
  }
  .card-title {
    color: var(--primary);
  }
  p > span {
    color: var(--secondary);
  }
  .card-body {
    gap: 0.3rem;
    padding: 1.5rem;
  }
}
