.howWeDoStyle {
  background-color: var(--white);
  padding: calc(100% - 85vw);
  &_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;

    gap: calc(50vw - 800px);
  }
}

.steps-style {
  height: 75vh;
  .steps-vertical {
    // to complete the :after circle
    padding-left: 10px;
  }
  .steps .step:after {
    height: 50px;
    width: 50px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  .steps-vertical .step:before {
    background-color: var(--secondary);
  }
  &_left {
    margin-top: 2rem;
    margin-left: 10px;
    &-title {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: left;
    }
    &-explain {
      text-align: left;
    }
  }
}

.content-style {
  flex-direction: column;
  display: flex;
  gap: calc(30vh - 10rem);
  &-title {
    font-size: 60px;
  }
  &-sub {
    margin-top: 2rem;
    color: var(--black);
    width: 100%;
  }
  .content-style_img {
    height: 300px;
    width: 90%;
  }
}
