.howWeDoItStyle {
  background-color: var(--white);
  padding: calc(100% - 95vw);

  &_container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    gap: 50px;

    @include sm {
      flex-direction: column;
      width: 70vw;
      margin: 0 auto;
    }

    @include xs {
      flex-direction: column;
      height: 70vh;
      margin: 0 auto;
      height: fit-content;
    }

  }

}

.stacks-container {
  height: 18vh;
  margin-top: -16rem;

  @include xs {
    margin: 2rem 0 -2rem 0;
    width: 90vw;
    
  }

  .stacks-header li {
     width: 90%;
     display: flex;
     justify-content: space-evenly;
    @include xs {

      width: 12vw;
      margin-inline: 0 auto;
    }

  }
  .tech-stacks{
    transform: translateY(0px);
  }
  .open-tab{
    //  transition: ease-in 3s;
     animation: insertFromBottom .5s ease;
     
  }
  @keyframes insertFromBottom{
    from{
      opacity: 0;
      transform: translateY(80px);
    }
    to{
      opacity: 1;
       transform: translateY(0px);
    }
  }
}

.stacks-style {
  position: relative;
  margin-top: 2rem;
  height: 35vh;


  @include sm {
    height: 20vh;
    overflow-x: hidden;
    width: 80vw;
  }

  @include xs {
    flex-direction: column;
    height: 10vh;
    overflow-x: hidden;
  }

  .slider {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--primary);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 100px;

    @include xl {
      width: 150px;
    }

    @include lg {
      width: 150px;
    }

    @include xs {
      width: 60px;
    }

  }

  .tabs {
    width: 400px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary);

    @include xl {
      width: 600px;
    }

    @include lg {
      width: 600px;
    }

    @include xs {
      width: 240px;
    }


  }

  .tab {
    width: 100px;
    height: 30px;

    @include xl {
      width: 150px;
    }

    @include lg {
      width: 150px;
    }

    @include xs {
      width: 60px;
      font-size: 10px;
    }


    &:not(.tab-active):hover {
      color: var(--secondary);
    }

    &-active {
      color: var(--white);
    }
  }

  .tab-content {
    padding-top: 30px;
    width: auto;
    height: 100px;

    @include xl {
      width: 600px;
    }

    @include xs {
      width: 240px;
    }

    &-show {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    &-hide {
      display: none;
    }
  }
}