.modal-style {
  width: 90vw;
  margin-inline: auto;
  color: white;
  box-sizing: border-box;

  &_container {
    display: inline-flex;
    justify-content: center;
    max-height: 95vh;
    height: min-content;
    flex-wrap: wrap;
    overflow-y: auto;

    .modal-close {
      font-size: clamp(1rem, 1rem + 3vw, 4rem);
      padding: 1rem;
    }

    .modal-header {
      margin-top: auto;

      &_name {
        margin-bottom: 1rem;
        font-size: clamp(1rem, 1rem + 1.9vw, 10rem);
      }

      &_rDate {
        font-size: calc(0.6rem + 1vw);
        font-weight: 500;
        font-style: italic;
        padding-bottom: 1rem;
      }

      &_image {
        width: 80vw;
        margin-inline: auto;
      }

      &_tech {
        padding-top: 1rem;
        font-size: clamp(0.6rem, 0.5rem + 0.5vw, 1rem);
        color: var(--secondary);
      }
    }
  }

  .description {
    flex-wrap: wrap;
    margin-bottom: auto;
    text-transform: none;

    &_p {
      font-size: clamp(0.5rem, 0.4rem + 1vw, 1.5rem);
    }
  }
}
