.contact {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(95.91deg, #4660f5 2.73%, #9f24d7 100%);
  @include center;
  &_text {
    color: var(--white);
    font-weight: bold;
    font-size: 50px;
    text-align: center;
  }
}

.work {
  background: var(--black);
}
