.button-style {
  width: 100px;
  height: 50px;
  @include center;

  border-bottom: 1px solid hsl(0, 0%, 85%);

  background: linear-gradient(to left, transparent 50%, var(--secondary) 50%)
    right;
  background-size: 200%;
  transition: 0.5s ease-out;
  span {
    color: var(--white);
  }
  &:hover {
    border-bottom: none;
    background-position: left bottom;
  }
}
