.herostyle {
  height: 750px;
  &_content {
    max-width: 50rem;
    @include center;
  }
  &_text {
    color: var(--white);
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    @include sm {
      font-size: 2rem;
    }
    @include md {
      font-size: 3rem;
    }
  }
}
